body {
  background-color: #1E4059;
}

.container {
  background-color: #FFF;
  min-height: 90vh;
  border-radius: 5px;
  margin: auto !important;
  margin-top: 5vh !important;
  width: 50%;

  @media screen and (min-width: 200px){
    width: 80%;
  }

  @media screen and (min-width: 400px){
    width: 78%;
  }

  @media screen and (min-width: 600px){
    width: 70%;
  }

  @media screen and (min-width: 700px){
    width: 60%;
  }

  @media screen and (min-width: 800px){
    width: 55%;
  }

  @media screen and (min-width: 900px){
    width: 50%;
  }
}

.added-since {
  color: #bbb
}

.done {
  color: #ccc;
  
  .body {
    text-decoration: line-through;
  }
}

.tasks-container {
  height: 67vh;
  overflow-y: auto;
  border-bottom: 1px solid #eee;
}

.add-task-container {
  height: 12vh;
  padding-top: 1vh;

  input {
    height: 6vh;
  }
  button {
    height: 5vh;
    margin-top: 1vh;
  }
}